<div class="container">
    <div>
        <h2>Ajouter un Livre :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Livre</label>
            <input type="text" [(ngModel)]="newLivre.idLivre" name="idLivre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Titre Livre</label>
            <input type="text" [(ngModel)]="newLivre.titreLivre" name="titreLivre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Auteur Livre</label>
            <input type="text" [(ngModel)]="newLivre.auteurLivre" name="prixLivre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Prix Livre</label>
            <input type="text" [(ngModel)]="newLivre.prixLivre" name="prixLivre" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date Parution</label>
            <input type="date" [(ngModel)]="newLivre.dateParution" name="dateParution" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addLivre()" class="btn btn-success">Ajouter</button>
        </div>
    </form>

</div>